@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

/* Colors: */
$colors: ("48b5fe": #48b5fe, "ffffff": #fff, "e4e4e4": #e4e4e4, "000000": #000, "ebf7ff": #ebf7ff, "f5f5f5": #f5f5f5, "fec148": #fec148, "268dd2": #268dd2, "e55c00": #e55c00, "39b0ff": #39b0ff, "04b58b": #04b58b, "3e9c4b": #3e9c4b, "b6bc00": #b6bc00, "e59100": #e59100, "ee1f50": #ee1f50, "d6198a": #d6198a, "b321f1": #b321f1);
$color-48b5fe: #48b5fe;
$color-ffffff: #fff;
$color-e4e4e4: #e4e4e4;
$color-000000: #000;
$color-ebf7ff: #ebf7ff;
$color-f5f5f5: #f5f5f5;
$color-fec148: #fec148;
$color-268dd2: #268dd2;
$color-light-gray: #00000080;

/* Font/text values */
$font-family-fira-sans: Fira Sans;
$font-style-normal: normal;
$font-weight-normal: normal;
$font-size-14: 14px;
$character-spacing-0: 0;
$line-spacing-20: 20px;

body {
    font-family: $font-family-fira-sans !important;
}

.App {
    padding: 42px 0 0 110px;

    @media all and (max-width: 991px) {
        padding: 42px;
    }

    .floating-preview {
        @media all and (min-width: 991px) {
            position: fixed;
            top: 191px;
            right: 0;
            width: 30%;
        }
        @media all and (min-width: 1024px) {
            width: 40%;
        }
    }

    .app-inner-wrapper {
        .ant-col {
            max-width: none;
        }
    }
}

.title {
    font-size: 18px;
    line-height: $line-spacing-20;
    text-align: left;
    color: #000000d6;
}

.ant-form {
    .ant-upload {
        .ant-btn {
            border: 1px solid $color-e4e4e4;
            border-radius: 5px;
        }
    }
    .avatar-img {
        .ant-image-img {
            border-radius: 50%;
        }
    }
    .help-text {
        margin-top: 10px;

        .ant-typography {
            color: $color-light-gray;
        }
    }

    .ant-form-item-control-input-content {
        & > .ant-input, .ant-input-affix-wrapper {
            height: 45px;
            padding: 14px 12px;
            border-radius: 5px;

            @each $name, $color in $colors {
                &.color-#{$name} {
                    &:hover, &:focus {
                    border-color: $color;
                    box-shadow: 0 0 0 2px rgba($color, 0.2);
                    }
                }
            }
        }
    }

    .ant-radio-group {
        .ant-radio-wrapper {
            border: 1px solid $color-e4e4e4;
            background: #fff 0% 0% no-repeat padding-box;
            border-radius: 5px;
            padding: 20px;            
        }

        .ant-radio-wrapper {
            &.p-small {
                padding: 10px 7px;
            }

            &.p-big {
                padding: 20px;
            }
        }

        &.w-auto {
            .ant-radio-wrapper {
                width: auto;
            }
        }

        &.w-300 {
            .ant-radio-wrapper {
                width: 300px;
            }
        }

        @each $name, $color in $colors {
            &.color-#{$name} {
                .ant-radio-wrapper {
                    &.ant-radio-wrapper-checked {
                        border-color: $color;
                        box-shadow: 0px 0px 4px 2px $color;

                        .ant-radio-inner {
                            border-color: $color;

                            &::after {
                                background-color: $color;
                            }
                        }
                    }
                }
            }
        }
    }
}
